/*
*/
!.gitignore

!arch/
arch/*
!arch/x86
arch/x86/*

!arch/x86/include/
arch/x86/include/*
!arch/x86/include/asm/
arch/x86/include/asm/*
!arch/x86/include/asm/unistd_32.h
!arch/x86/include/asm/syscall.h


!arch/x86/kernel/
arch/x86/kernel/*
!arch/x86/kernel/syscall_table_32.S

!kernel/
kernel/*
!kernel/sched_wrr.c
!kernel/sched.c

!include/
include/*
!include/linux/
include/linux/*
!include/linux/sched.h

!my_source/
my_source/*
!my_source/Makefile
!my_source/*.c
